<ion-app>
  <ion-header >
   <div class="toolbar">
            <ion-grid>
              <ion-row>
                <ion-col class="back"size="6"  >
                  <strong><ion-icon name="arrow-back"></ion-icon></strong>
                  
                </ion-col>
                <ion-col class="share"  size="6"  >
                  <ion-icon (click)="closeModal()"  name="close-outline"></ion-icon>
                    
                </ion-col>
                
              </ion-row>
              </ion-grid>
   </div>  
  </ion-header> 
  <ion-content fullscreen class="ion-padding" >
      <ion-list lines="inset">


          <ion-radio-group value="biff">
            <ion-list-header>
              <ion-label class="header-list">¿A quien vas a invitar?</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/avatars_profile.jpg">
              </ion-avatar>
              <ion-label>User name</ion-label>
              <ion-label class="sub-title">name full</ion-label>
              <ion-radio slot="end" value="biff"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/avatars_profile.jpg">
              </ion-avatar>
              <ion-label>Griff</ion-label>
              <ion-label class="sub-title">name full</ion-label>
              <ion-radio slot="end" value="griff"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/avatars_profile.jpg">
              </ion-avatar>
              <ion-label>Buford</ion-label>
              <ion-label class="sub-title">name full</ion-label>
              <ion-radio slot="end" value="buford"></ion-radio>
            </ion-item>
          </ion-radio-group>

      </ion-list>
      <ion-button expand="full">Invitar amigo</ion-button>
  </ion-content>
  

  </ion-app>