<ion-app>
  <ion-header >
   <div class="toolbar">
            <ion-grid>
              <ion-row>
                <ion-col class="back"size="6"  >
                  <strong><ion-icon name="arrow-back"></ion-icon></strong>
                  
                </ion-col>
                <ion-col class="share"  size="6"  >
                  <ion-icon (click)="dismissModal()"  name="close-outline"></ion-icon>
                    
                </ion-col>
                
              </ion-row>
              </ion-grid>
   </div>  
  </ion-header> 
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
        <ion-col>
          <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
        <ion-col>
          <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
        <ion-col>
          <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>
</ion-grid>    
 
  
</ion-content>
 

  </ion-app>
