$primary: #fa9312;
$secondary: #0c0d17;
$tertiary: #494949;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  font-family: 'Montserrat','Open Sans', sans-serif;
}
#container {
  position: absolute;
  background-color: $secondary;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.footer{
  background-color: $secondary;
}
ion-button{
  --border-radius: 20px;
}
#descripcion{
  background-color:  $secondary;
  border-radius: 25px 25px 0px 0px;
  color:#fff;
  padding: 1.5rem;
}
#descripcion p {
  color: #8c8c8c;
}
.info-producto p{
  color:$tertiary
}
.fecha{
  text-align: center;
  color:$primary;
}
.toolbar{
  font-weight: 800;
  font-size: 30px;
  color:$primary
}
.producto ion-slides{
  height: 40vh;
}
.slider-text {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
/* slider */
.slider-text p{
  color: #fff;
  font-size: 14px;
}
.slider-text span{
  background: $primary;
  padding: 0.4rem;
  margin-top: 5%;
  border-radius: 17px;
  font-size: 15px;
}
ion-slides {
  height: 100%;
}
.swiper-slide img {
  max-height: 150%;
  max-width: 100%;
  pointer-events: none;
}

.header-md::after{
  position:none;
  height: 0px;
}
ion-header{
  position:none !important;
}
/* icons */
.share strong{
text-align: right;
margin-left: 60%;
}
.my-custom-class .modal-wrapper {
  background: #222;
}