<ion-app>
<ion-header >
 <div class="toolbar">
          <ion-grid>
            <ion-row>
              <ion-col class="back"size="6"  >
                <strong><ion-icon name="arrow-back"></ion-icon></strong>
                
              </ion-col>
              <ion-col class="share"  size="6"  >
                  <ion-button (click)="savePromo()" class="btn-tag" color="tertiary" expand="block">
                    <strong><ion-icon name="share-social"></ion-icon></strong>
                  </ion-button> 
                
                  
              </ion-col>
              
            </ion-row>
            </ion-grid>
 </div>  
</ion-header> 

 
<ion-content fullscreen class="ion-padding" >

  <div id="container" *ngFor="let product of products">
    <div class="producto">

        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <img src={{product.picture}} >
            <div class="slider-text">
              
              <h1><strong>{{product.name}}</strong>  <span color="primary"><ion-icon name="star"></ion-icon>{{product.star}}</span></h1>
              <br />
              <p>{{product.description}}</p>
            </div>
          </ion-slide>
         
        </ion-slides>
    
    </div>
    <div id="descripcion" *ngFor="let product of products" >
      <div class="fecha"><strong><ion-icon name="calendar-outline"></ion-icon>{{product.dateInitial}} al {{product.dateEnd}}</strong></div>
      <!-- descripcion & informacion-->
      <div class="info-producto">
        <h6>Descripción</h6>
        <p >{{product.moreDetail}}</p>
        <h6>La Promo incluye</h6>
        <p> {{product.promo}}</p>
        <h6>Condiciones</h6>
        <p>{{product.terms}}</p>
      </div>
    </div>
  </div>
</ion-content>
<!-- footer -->
<ion-footer class="footer">
        <ion-grid >
          <ion-row class="ion-align-items-center">
            <ion-col  size="2" >
              <ion-button (click)="savePromo()" class="btn-tag" color="tertiary" expand="block">
                <span *ngIf="!isSave"><ion-icon name="bookmark-outline"></ion-icon></span>
                <span *ngIf="isSave"><ion-icon color="primary" name="bookmark"></ion-icon></span>
              
              </ion-button>
            </ion-col>
            <ion-col  size="10"  >
              <ion-button  (click)="inviteAFriendModal()" class="btn-invitar" expand="block">invitar a alguien</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-footer>
</ion-app>